@font-face {
  font-family: Dirooz;
  src: url('assets/fonts/Dirooz.ttf') ;
}

body {
  direction: rtl;
  margin: 0;
  font-family: Dirooz !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
